
.head-page {
  font-family: 'Open Sans', sans-serif;
  padding-left: 1%;
  padding-bottom: 2%;
}

.order-form {
  font-family: 'Open Sans', sans-serif;
  padding-left: 1%;
}


.btn {
  border: 0 none;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
 
.btn-primary {
  background: rgba(10, 73, 86, 1);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: rgba(10, 73, 86, 1);
}

.btn-primary:active, .btn-primary.active {
  background: rgba(10, 73, 86, 1);
}

.error-message {
  font-family: 'Open Sans', sans-serif;
  padding-left: 1%;
  color: red;
}