
.description {
  /*display: inlin-block;*/
  /*position: relative;*/
  font-family: 'Open Sans', sans-serif;
  padding-left: 3%;
  /*font-size: 20px;*/
}

.delete-order {
  padding-left: 10%;
}

.good-message {
  font-family: 'Open Sans', sans-serif;
  color: green;
  padding: 2%;
  font-size: 15px;
}
.error-message, .no-modify{
  font-family: 'Open Sans', sans-serif;
  color: red;
  padding: 2%;
  font-size: 15px;
}

.modify-form {
  font-family: 'Open Sans', sans-serif;
  padding-left: 3%;
  padding-top: 3%;
}

.modify-form {
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  border: 0 none;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  /*font-size: 18px;*/
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
 
.btn-primary {
  background: rgba(10, 73, 86, 1);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: rgba(10, 73, 86, 1);
}

.btn-primary:active, .btn-primary.active {
  background: rgba(10, 73, 86, 1);
}