{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
 {% endblock head %}

{% block title %}MyHotel: Auth {% endblock title %}

{% block body %}
{% if mainerror %}
  <h3 class="error-message">Ошибка: {{ mainerror }}</h3>
{% else %}
  <div class="row modify-order">
    <form method="post" class="modify-form">
      {% csrf_token %}
      {{ form.as_table }}
      <button type="submit" class="btn btn-primary">Авторизация пользователя</button>
    </form>
   </div>
 {% if error and error == "good" %}
    <h3 class="good-message">Авторизация прошла успешно</h3>
 {% else %}
   {% if error %}
      <h3 class="error-message">Ошибка: {{ error }}</h3>
    {% endif %}
 {% endif %}
{% endif %}
{% endblock body %}